.product-card .vin {
    display: block;
}

.product-card .product-content .price-location .price::after {
    content: none;
}

.news-section .news-card .content>h6 {
    border-bottom: none;
}

/* language nice select */
.languages .nice-select {
    padding: 5px 10px;
    width: 55px;
}

.languages .nice-select::after {
    right: 12px;
}

.languages .nice-select .list .option {
    padding: 0 15px;
}

.mlanguages .nice-select {
    padding: 5px 10px;
    width: 55px;
    height: 35px;
}

.mlanguages .nice-select .list .option {
    padding: 0 15px;
}

.mlanguages .nice-select::after {
    right: 12px;
}

.mlanguages .nice-select.open .list {
    z-index: 1111;
}

/* end language nice select */

header.style-1 .nav-right .mobile-menu-btn {
    position: relative;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

header.style-1 .nav-right .mobile-menu-btn span {
    top: auto;
}

/* mobile menu */
.mmenu-top {}

.mmenu-top .mlogo {
    width: 120px;
    height: auto;
}

.mmenu-top-columns {
    display: flex;
    flex-direction: row;
}

.mmenu-top-columns .c2 {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* end mobile menu */

/* mobile vin search */
.m-vin-search {
    padding-top: 20px;
}

.m-vin-search-form {
    display: flex;
    flex-direction: row;
}

.m-vin-search-form input {
    display: block;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}

.m-vin-search-form button {
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 0 5px 5px 0;
    background-color: var(--title-color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.m-vin-search-form .bi-search::before {
    color: #ffffff;
}

.m-vin-search-grid {
    display: flex;
    flex-direction: row;
}

.m-vin-search-grid>.input {
    flex-grow: 1;
}

.m-vin-search-grid>.button {
    width: 50px;
}

/* end mobile vin search */

@media (max-width: 991px) {
    .nav-right .languages {
        display: none;
    }

    header.style-1 .nav-right .hotline-area {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    header.style-1 .main-menu .menu-list {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}